@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.Y-search {
  position: relative;

  & > .form-control {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
    padding-right: 43px;

    &:focus {
      box-shadow: none;
    }
  }

  &__left {
    top: 20px;
    left: 20px;
    color: #9ca3af;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__rigth {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
    padding-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    & > button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      transition: color 150ms ease-out 100ms;

      &:hover {
        color: $danger;
      }
    }
  }
}
